*{
    font-family: sans-serif;
}
box, label{
    background: #202020;
    color: white;
}

label{
    font-size: 20px;
}

.red_button{
    border-radius: 20px;
    background: rgb(255, 59, 48);
    transition: 0.1s;
    border: 2px solid white;
}

.red_button:active, .red_button:hover {
    background: rgb(255, 79, 68);
    transition: 0.1s;
}

.blue_button{
    border-radius: 20px;
    background: rgb(0, 122, 255);
    transition: 0.1s;
    border: 2px solid white;
}

.blue_button:active, .blue_button:hover {
    background: rgb(20, 142, 255);
    transition: 0.1s;
}

.green_button{
    border-radius: 20px;
    background: rgb(52, 199, 89);
    transition: 0.1s;
    border: 2px solid white;
}

.green_button:active, .green_button:hover {
    background: rgb(72, 229, 109);
    transition: 0.1s;
}

button label{
    background: none;
    font-weight: 600;
}
