*{
    font-family: sans-serif;
    background: #202020;
    color: white;
}
box, label{
    background: #202020;
    color: white;
}

label{
    font-size: 20px;
}


button label{
    background: none;
    font-weight: 600;
}

#clear_button {
    border-radius: 20px;
    background: rgb(255, 59, 48);
    transition: 0.1s;
    border: 2px solid white;
}

#clear_button:active, #clear_button:hover {
    background: rgb(255, 79, 68);
    transition: 0.1s;
}

#login_button {
    border-radius: 20px;
    background: rgb(52, 199, 89);
    transition: 0.1s;
    border: 2px solid white;
}

#login_button:active, #login_button:hover {
    background: rgb(72, 219, 109);
    transition: 0.1s;
}

#main_entry{
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    background: #303030;
    transition: 0.1s;
    border: 1px solid white;
}

#main_entry:focus{
    border: 3px solid rgb(10, 122, 255);
    transition: 0.1s;
}

#entry_button{
    background: #505050;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

#entry_button:active, #entry_button:hover{
    background: rgb(10, 122, 255);
    transition: 0.3s;
}

#main_table{
    border: 3px solid white;
}
